server:
  port: 8080
  servlet:
    encoding:
      charset: utf-8
      enabled: true
      force: true

spring:
  ai:
    zhipuai:
      api-key: ${GML_API_KEY}
      base-url: "https://open.bigmodel.cn/api/paas"
      chat:
        options:
          model: glm-4.5
